@import "../../global.scss";

.portfolio {
  background-color: #e6f0fa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include phone {
    overflow: hidden;
  }

  .arrow {
    height: 30px;
    position: absolute;
    cursor: pointer;

    @include breakpoint(650px) {
      display: none;
    }

    &.left {
      left: 100px;

      @include tablet {
        left: 25px;
      }

      @include laptop {
        left: 16px;
      }

      @include desktop {
        left: 50px;
      }
    }

    &.right {
      right: 100px;
      transform: rotateY(180deg);

      @include tablet {
        right: 25px;
      }

      @include laptop {
        right: 16px;
      }

      @include desktop {
        right: 50px;
      }
    }
  }

  .slider {
    height: 60vh;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include breakpoint(650px) {
      height: 85vh;
      display: flex;
      flex-direction: column;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint(650px) {
        height: 90vh;
        display: flex;
        justify-content: space-around;
      }

      .item {
        height: 100%;
        width: 65%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(650px) {
          height: 90%;
          width: 100%;
        }

        @include tablet {
          width: 75%;
        }

        .left {
          flex: 1;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          overflow: hidden;

          .imgContainer {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @include phone {
              width: 75px;
              height: 25px;
            }

            @include breakpoint(650px) {
              overflow: hidden;
            }

            img {
              width: 50px;
              cursor: pointer;

              @include phone {
                width: 20px;
              }

              @include breakpoint(650px) {
                width: 25px;
              }
            }
          }

          h2 {
            font-size: 40px;

            @include phone {
              font-size: 13px;
            }

            @include breakpoint(650px) {
              font-size: 1.2rem;
              overflow: hidden;
            }
          }

          h4 {
            font-family: Cabin;
            font-size: 20px;

            @include phone {
              font-size: 11px;
            }

            @include breakpoint(650px) {
              font-size: 0.75rem;
            }
          }

          .demoPic {
            width: 35vw;
          }
        }

        .right {
          flex: 1;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .rightContainer {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p {
              font-family: Cabin;
              font-size: 0.9rem;
              line-height: 1.5rem;

              @include phone {
                font-size: 0.5rem;
                line-height: 0.75rem;
                overflow: hidden;
              }

              @include breakpoint(650px) {
                font-size: 0.5rem;
                line-height: 0.6rem;
              }
            }

            p .desc {
              @include breakpoint(900px) {
                font-size: 0.5rem;
              }

              @include breakpoint(1010px) {
                font-size: 0.7rem;
                line-height: 1.25rem;
              }

              @include laptop {
                font-size: 0.85rem;
              }
            }

            p .tech {
              @include phone {
                font-size: 0.6rem;
              }

              @include breakpoint(650px) {
                font-size: 0.5rem;
                line-height: 0.6rem;
              }

              @include breakpoint(900px) {
                font-size: 0.5rem;
              }

              @include breakpoint(1010px) {
                font-size: 0.7rem;
                line-height: 1.25rem;
              }

              @include laptop {
                font-size: 0.85rem;
              }
            }

            .focus {
              @include phone {
                display: none;
              }
            }
            
            p .focus {
              @include breakpoint(900px) {
                font-size: 0.5rem;
              }

              @include breakpoint(1010px) {
                font-size: 0.7rem;
                line-height: 1.25rem;
              }

              @include laptop {
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }
  }
}
