@import "../../global.scss";

.portfolio {
  background-color: #e6f0fa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include phone {
    overflow: hidden;
  }

  .arrow {
    height: 30px;
    position: absolute;
    cursor: pointer;

    @include phone {
      display: none;
    }

    &.left {
      left: 100px;

      @include tablet {
        left: 25px;
      }
    }

    &.right {
      right: 100px;
      transform: rotateY(180deg);

      @include tablet {
        right: 25px;
      }
    }
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include phone {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      margin-top: 0rem;
    }

    @include tablet {
      height: 60vh;
      
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 900px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include phone {
          width: 90%;
          height: 225px;
          margin: 15px 0;
        }

        @include tablet {
          width: 80%;
        }

        .left {
          flex: 1;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          overflow: hidden;

          .imgContainer {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @include phone {
              width: 75px;
              height: 25px;
            }

            img {
              width: 50px;
              cursor: pointer;

              @include phone {
                width: 20px;
              }
            }
          }
          h2 {
            font-size: 40px;

            @include phone {
              font-size: 13px;
            }
          }

          h4 {
            font-family: Cabin;
            font-size: 20px;

            @include phone {
              font-size: 11px;
            }
          }

          img {
            width: 400px;

            @include phone {
              width: 145px;
              margin-left: 15px;
            }

            @include tablet {
              width: 300px;
              margin-left: 30px;
            }
          }
        }

        .right {
          flex: 1;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .rightContainer {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p {
              font-family: Cabin;
              font-size: 1rem;
              line-height: 1.5rem;

              @include phone {
                font-size: 0.5rem;
                line-height: 0.5rem;
                overflow: hidden;
              }

              @include tablet {
                font-size: 0.8rem;
                line-height: 1.25rem;
              }

            }
          }
        }
      }
    }
  }
}
