@import "../../global.scss";

.connect {
  background-color: #d6d3f0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include phone {
    flex-direction: column;
  }

  .top {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0rem auto;
    overflow: hidden;
    z-index: 1;

    @include phone {
      width: 400px;
      height: 60px;
      margin-top: 0rem;
      padding-top: 1rem;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin: auto 1rem;

      h2 {
        display: flex;
        font-size: 2rem;
        align-items: center;

        @include phone {
          font-size: 1rem;
          padding-left: 0.5rem;
        }
      }

      img {
        width: 15%;
        margin: 1rem;

        @include phone {
          width: 30%;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-around;
      margin: auto 3rem auto 0.5rem;
      height: 100%;

      @include phone {
        margin-left: -1rem;
        margin-right: 2.5rem;
      }

      .download {
        width: 20rem;
        height: 2.25rem;
        color: white;
        background-color: $mainColor;
        border: none;
        border-radius: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:focus {
          outline: none;
        }

        @include phone {
          width: 7rem;
          font-size: 0.75rem;
        }
      }

      img {
        width: 50px;
        height: 50px;
        margin: 1rem auto 1rem 1rem;

        @include phone {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex: 7;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem;

    @include phone {
      margin-top: -0.3rem;
    }
  }
}
