@import "../../global.scss";

.skills {
  background-color: #e6e6fa;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone {
    justify-content: space-around;
  }

  h1 {
    font-size: 50px;

    @include phone {
      font-size: 18px;
    }
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include phone {
      flex-direction: column;
      height: 100%;
    }

    .card {
      width: 300px;
      height: 75%;
      margin: 0 20px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px;
      transition: all 1s ease;

      @include phone {
        height: 100%;
        margin: 16px 0;
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include phone {
          flex-direction: row;
          justify-content: center;
          overflow: hidden;
        }

        img {
          &.icon {
            height: 60px;
            width: 60px;
            object-fit: cover;
            margin: 0 30px;

            @include phone {
              width: 20px;
              height: 20px;
              margin: 0 1rem;
            }
          }
        }
        h3 {
          margin: 1rem 0;
          overflow: hidden;

          @include phone {
            font-size: 14px;
          }
        }
      }

      .center {
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(250, 244, 245);

        @include phone {
          font-size: 10px;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h4 {
          color: rgb(121, 115, 115);
          margin: 1rem 0;
          overflow: hidden;

          @include phone {
            font-size: 13px;
            margin: 0.5rem 0;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          margin-left: -40px;

          @include phone {
            dipslay: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 300px;
            height: 80px;
          }

          li {
            font-family: Cabin;
            display: flex;
            justify-content: center;
            margin-bottom: 0.1rem;
            overflow: hidden;

            @include phone {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
